body {
    background: #FFFFFF;
}

/* ******************header part*********/

.view {
    width: 1321px;
    height: 646px;
}

.header-part {

    background-color: rgb(48, 37, 23);
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 39px;
    color: #FFFFFF;

}

h1 {
    font-weight: 700;
    font-size: 70px;
}

.titles {
    width: 531px;
    height: 424px;
    padding: 20px;
    margin-left: 30px;
}

.live-button {
    text-decoration: none;
    background-image: linear-gradient(#cd1717, #ff0000);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;

}

.banner img {
    padding-left: 10px;
    width: 450px;
    height: 600px;


}

/* -----------------------------main part1-------------------------- */
.conatiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.navgation-system {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    width: 312px;
    height: 312px;
    background-color: rgb(44, 31, 15);
    border-radius: 8px;
    margin-top: 20px;
}

.navgation-system a {
    text-decoration: none;
}

h2 {
    font-weight: 500;
    color: black;
}

.match-button {
    text-align: center;
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 252px;
    height: 64px;
    padding: 10px;
}

.Group-button {
    text-align: center;
    background-color: #FFFFFF;
    width: 252px;
    height: 64px;
    border-radius: 15px;
    padding: 10px;
}

.Blog-button {
    text-align: center;
    background-color: red;
    width: 252px;
    height: 64px;
    border-radius: 15px;
    padding: 10px;
}



/* -----------------------------main part2-------------------------- */
.Matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
}

.match {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.match-banner {
    margin-bottom: 20px;
}

.TICKETS-Button {
    text-decoration: none;
    background-image: linear-gradient(#a693f7, #8c9ff7);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    margin: 0;
    padding: 15px;
    width: 100px;
    height: 32px;
}

.match-duration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}

.fa-clock .fa-message {
    width: 53px;
    height: 26px;
}

/*-------------------------------------footer--------------------------------- */
footer {
    width: 1600px;
    height: 444px;
    background-color: rgb(48, 37, 23);
    color: #FFFFFF;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
}

.Goal {
    margin-top: 50px;
    text-align: center;

}

hr {
    text-align: center;
    width: 95%;
}

.soial-media {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

a {
    margin: 10px;
}

.fa-facebook {
    color: white;
    height: 150px;
    width: 30px;
}

.fa-instagram {
    color: white;
    width: 30px;
}

.fa-linkedin {
    color: white;
    width: 30px;
}

.fa-twitter {
    color: white;
    width: 30px;
}